@define-color accent_color #ffb3ad;
@define-color accent_fg_color #571e1b;
@define-color accent_bg_color #ffb3ad;
@define-color window_bg_color #271d1c;
@define-color window_fg_color #f1dedd;
@define-color headerbar_bg_color #271d1c;
@define-color headerbar_fg_color #f1dedd;
@define-color popover_bg_color #271d1c;
@define-color popover_fg_color #f1dedd;
@define-color view_bg_color #231918;
@define-color view_fg_color #f1dedd;
@define-color card_bg_color #231918;
@define-color card_fg_color #f1dedd;
@define-color sidebar_bg_color @window_bg_color;
@define-color sidebar_fg_color @window_fg_color;
@define-color sidebar_border_color @window_bg_color;
@define-color sidebar_backdrop_color @window_bg_color;
