[user]
	email = 1377537238@qq.com
	name = Ihxnan
[http]
	sslVerify = false
[init]
	defaultBranch = main
[alias]
    c = checkout
    b = branch
	p = log --oneline --graph --decorate --all
	s = switch
    st = status
[safe]
	directory = /home/ihxnan/YUN/AlgorithmBlog
